.mouse-icon {
	position: relative;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	margin: 0 auto;
	display: block;
	z-index: 10;
}

@media all and (max-width: 767px) {
	.mouse-icon {

	}
}

.mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}


.countdown-divider img, .countdown-header img, .video-header img {
	max-width: 400px;
}

@media all and (max-width: 767px) {
	.countdown-divider img, .countdown-header img, .video-header img {
		max-width: 300px;
	}
}

@media all and (max-width: 500px) {
	.countdown-divider img, .countdown-header img, .video-header img {
		max-width: 250px;
	}
}

.call-to-action {

display: block;
position: fixed;
top: 0px;
left: 24px;
color: red !important;

}

.mobile-menu-toggle {
	left: 24px;
}

.menu li a.phone-call-out {
	background-color: #fff;
	color: #333333;
	padding: 12px;
	margin-top: -12px;
}

.overlay-nav.show-content.sticky-nav .menu li a.phone-call-out {
	background-color: #333333;
	color: #fff !important;
}
.catalyst {
position: absolute;
bottom: 20px;
width: 100%;
text-align: center;
}

@media all and (max-width: 768px) {

	.mobile-custom-menu {
		float: right;
		display: inline-block;
		font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 600;
	}

	ul.mobile-social {
		display: inline-block;
	}

		ul.mobile-social li {
			display: inline-block;
			padding: 10px;
		}

		ul.mobile-social li a {
			color: #333333;
			text-decoration: none;
		}

	.mobile-phone-number {
		display: inline-block;
		background-color: #333333;
		color: #fff;
		padding: 10px;
	}

	.mobile-phone-number a {
		color: #fff;
	}

	.mobile-menu-toggle {
		display: inline-block;
	}

	.hidden-mobile {
		display: none;
	}

}


@media all and (max-width: 1000px) {

	.menu li {
		margin-right: 13px !important;
	}

}